
 <div><% @current_user_event.each do |event|%> 
 <div>
<div> <%= event.title %>  </div>
<div> <%= event.location %> </div> 
</div>
</div>
<% end %>


<p> user has not created any event</p> 


</div>
