<p> These are the events you created</p>
 <div><% current_user.organized_events.each do |event|%> 
 <div>
 
<div> Event title: <%= link_to event.title, event %>  </div>
<div> Event location: <%= event.location %> </div> 
</div>
</div>
<% end %>


</div>
