<div class="card text-center container">
  <div class="card-header">
    These are your Featured Events
  </div>
   <div>
    <% current_user.attended_events.each do |event|%> 
  <div class="card-body">
    <h5 class="card-title"> Event title: <%= link_to event.title, event %> </h5>
    <p class="card-text"> To hold at <%= event.location %>, On the <%= event.date %>, Created @ <%= event.created_at %></p>
  </div>
   <% end %>   
  <div class="card-footer text-muted">
    End
  </div>

</div>