
<% if @events%>
<p> <% @events.each do |event| %> 
<div>
<p><strong> Event title: </strong> <%= link_to(event.title, event) %> </p>
<p> <strong> Event location: </strong><%= event.location %> </p>
<p> <strong> Created at: </strong><%= event.created_at %> </p>

</div>

<%end %>
<%else%>
<p>There are no events holding</p>

</p>
<%end%>
